{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Roboto" rel="stylesheet">
	<title>404()$)$</title>
	<link rel="stylesheet" type="text/css" href="{% static 'postApp/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="">
<div class="container">
	<div class="shift" style="margin-top: 30px;">
		<center>
     			<img src="http://i.imgur.com/RN6rors.png" class="img-responsive" style="margin-top: 40px; width: 50%; height: 50%;  padding-bottom: 20px;">
     		</center>
     		<h4 class="text-center" style="font-family: roboto; padding-bottom: 20px; font-size: 1em;" >Looks Like Something Went Wrong And You Have Been In An <b style="color: red; font-size: 1.7em;"><b style="font-size: 1.8em;">H</b>ack </b>Party</h4>
     		<center>
     		
     			<button class="btn btn-danger btn-md" style="border-radius: 50px; font-size: 10px; padding: 7px 30px; outline:none; ">Back To Registration Page.</button>&nbsp;&nbsp;&nbsp;
     			<a href="success.html"><button class="btn btn-danger btn-md" style="border-radius: 50px; font-size: 10px; padding: 7px 30px; background-color: transparent; border: 2px solid #d9534f; color: black; outline:none; ">Consult The Oracles</button></a>
     		</center><br><br>
     		<div style="position: fixed;">
	     		<img src="http://www.freeiconspng.com/uploads/settings-icon-4.png" class="img-responsive" style="float: left; width: 20%;height: 20%;">
	     		<img src="http://www.freeiconspng.com/uploads/settings-icon-4.png" class="img-responsive" style="float: left; width: 30%;height: 30%;">
	     		<img src="http://www.freeiconspng.com/uploads/settings-icon-4.png" class="img-responsive" style="float: left; width: 15%;height: 15%;">
	     		<img src="http://www.freeiconspng.com/uploads/settings-icon-4.png" class="img-responsive" style="float: left; width: 30%;height: 30%;">
	     	</div>
     	</div>
</div>
</body>
</html>